* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ddd;
}

header {
  background-color: black;
  color: white;
  display: flex;
  padding: 20px;
}

main {
  background-color: #ddd;
}

.navbar {
  display: flex;
  flex: 1;
  gap: 50px;
  justify-content: end;
}

.product-grid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.product-card {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  /* width: 100%; */
}

.product-card img {
  height: 16rem;
}
